body
{
    background: url(imagen.jpg);
    background-size: cover;
}
a
{
    color: black;
    font-family:Tahoma, Geneva, sans-serif;
   margin-left: 30px;
   
   
}
.cong
{
    background: rgba(44,62,80,0.7);
    padding: 40px;
    
    height: 150px;
    margin-left: 200px;
    margin: 0 auto;
    margin-top: 200px;
    width: 400px;
}
h2
{
    margin-top: 50px;
    margin-left: 10px;
}