body {
   margin: 0;
   padding: 0;
   background: url(../css/imagenes/fondo-login.jpg) no-repeat center top;
   background-size: cover;
   font-family: sans-serif;
   height: 100vh;
}

.form-login{
    width: 320px;
    height: 430px;
    background: black;
    color: #fff;
    top: 20%;
    left: 40%;
    position: absolute;
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 10%;
}

.form-login .logo-user{
    width: 200px;
    height: 200px;
    position: absolute;
    top: -28%;
    left: 18%;
    

}

.form-login h1{
    margin: 5%;
    padding: 0%;
    text-align: center;
    font-weight: bold;
    display: block;
}

.form-login label{
    margin: 0%;
    padding: 0%;
    font-weight: lighter;
    font-size: 17px;
}


.form-login input[type="text"], 
.form-login input[type="password"] {
     border: none;
     border-bottom: 1px solid #fff;
     background: transparent;
     outline: none;
     height: 40px;
     color: #fff;
     font-size: 16px;
     width: 100%;
    margin-bottom: 20px;
}

.form-login input[type="submit"]{
    border: none;
    outline: none;
    height: 50px;
    width: 120px;
    background: orangered;
    color: #fff;
    font-size: 18px;
    border-radius: 30%;
    display: block;
    margin-left: 27%;
    margin-bottom: 8%;
    
}

.form-login a{
    margin-top: 5px;
    font-size: 12 px;
    line-height: 20px;
    color: chartreuse;
    display: block;
}

.form-login a:hover{
    color: mediumblue;
}

.form-login input[type="submit"]:hover{
    cursor: pointer;
    background: #fff;
    color: orangered;
}
